* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(141, 141, 141);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    color: white;
    background-color: black;
    width: 20vw;
    height: 80vh;
    margin-left: 40%;
    margin-top: 5%;
}

#myInput {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
}

#myOutput {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    width: 5vw;
}

#myOutput:hover {
    background-color: darkgrey;
    color: white;
}

#disOutput {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    height: 40vh;
    width: 15vw;
    padding: 10px;
}


/*
********
********
Media Queries
********
********
*/
@media screen and (max-width: 768px) {
    .main {
        margin-left: 20%;
        margin-top: 25%;
        height: 90%;
        width: 60%;
        padding: 15px;
    }

    #myInput {
        margin: 10px 0px 10px 0px;
    }

    #myOutput {
        width: 15vw;
        margin: 10px 0px 10px 0px;
    }

    #disOutput {
        /*Heigth not recommended.*/
        width: 50%;
    }

}
